<!DOCTYPE html>
<html>
    <head>
<!--        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <title>Call</title>
    </head>
    <body>
      <div class="smsWrapper">
        <div class="galleryHeader">
          <i class="fas fa-arrow-left"></i> Resnicd SmS
        </div>
        <input type="number" name="phoneSmsInput" placeholder="TO : ">
        <div class="texts">
          <div class="messageRecieved">
            <hgroup class="speech-bubble">
              <p>message from someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>
          <div class="messageSent">
            <hgroup class="speech-bubble">
              <p>message to someone</p>
            </hgroup>
          </div>

        </div>
        <div class="smsText">
          <input type="text" name="smsInput" placeholder="Message">
          <button type="button" name="sendSms"><i class="fas fa-paper-plane"></i></button>
        </div>
        <div class="smsKeyBoard">
          <div class="smsKeyBoardRow">
            <button type="button" name="smsKeyBoardButton">1</button>
            <button type="button" name="smsKeyBoardButton">2</button>
            <button type="button" name="smsKeyBoardButton">3</button>
            <button type="button" name="smsKeyBoardButton">4</button>
            <button type="button" name="smsKeyBoardButton">5</button>
            <button type="button" name="smsKeyBoardButton">6</button>
            <button type="button" name="smsKeyBoardButton">7</button>
            <button type="button" name="smsKeyBoardButton">8</button>
            <button type="button" name="smsKeyBoardButton">9</button>
            <button type="button" name="smsKeyBoardButton">0</button>
          </div>
          <div class="smsKeyBoardRow">
            <button type="button" name="smsKeyBoardButton">q</button>
            <button type="button" name="smsKeyBoardButton">w</button>
            <button type="button" name="smsKeyBoardButton">e</button>
            <button type="button" name="smsKeyBoardButton">r</button>
            <button type="button" name="smsKeyBoardButton">t</button>
            <button type="button" name="smsKeyBoardButton">y</button>
            <button type="button" name="smsKeyBoardButton">u</button>
            <button type="button" name="smsKeyBoardButton">i</button>
            <button type="button" name="smsKeyBoardButton">o</button>
            <button type="button" name="smsKeyBoardButton">p</button>
          </div>
          <div class="smsKeyBoardRow">
            <button type="button" name="smsKeyBoardButton">a</button>
            <button type="button" name="smsKeyBoardButton">s</button>
            <button type="button" name="smsKeyBoardButton">d</button>
            <button type="button" name="smsKeyBoardButton">f</button>
            <button type="button" name="smsKeyBoardButton">g</button>
            <button type="button" name="smsKeyBoardButton">h</button>
            <button type="button" name="smsKeyBoardButton">j</button>
            <button type="button" name="smsKeyBoardButton">k</button>
            <button type="button" name="smsKeyBoardButton">l</button>
          </div>
          <div class="smsKeyBoardRow">
            <button type="button" name="smsKeyBoardButton">z</button>
            <button type="button" name="smsKeyBoardButton">x</button>
            <button type="button" name="smsKeyBoardButton">c</button>
            <button type="button" name="smsKeyBoardButton">v</button>
            <button type="button" name="smsKeyBoardButton">b</button>
            <button type="button" name="smsKeyBoardButton">n</button>
            <button type="button" name="smsKeyBoardButton">m</button>
          </div>
          <div class="smsKeyBoardRow">
            <button type="button" name="smsKeyBoardButton">+</button>
            <button type="button" name="smsKeyBoardSpaceButton"><i class="fas fa-ellipsis-h"></i></button>
            <button type="button" name="smsKeyBoardDeleteButton"><i class="fas fa-backspace"></i></button>
          </div>
        </div>
      </div>

        <script src="../js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="../js/velocity.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="../js/jquery-collision.min.js"></script>
        <script type="text/javascript" src="../js/gallery.js"></script>
        <script type="text/javascript">
        var focusedInput=null;
        $("input[name='smsInput'],input[name='phoneSmsInput']").on("click",function(){
            $(".smsKeyBoard").css("position","static");
            focusedInput=this;
          });

          $("button[name='smsKeyBoardButton']").on("click",function(){
            var number=$(focusedInput).val()+$(this).html();
            $(focusedInput).val(number);
          });
          $("button[name='smsKeyBoardDeleteButton']").on("click",function(){
            var number=$(focusedInput).val();
            number = number.substring(0, number.length - 1);
            $(focusedInput).val(number);
          });
          $(".texts,.galleryHeader").on("click",function(){
            $(".smsKeyBoard").css("position","absolute");
            focusedInput=null;
          });

        </script>
        <script type="text/javascript" src="../js/index.js"></script>
    </body>
</html>
